{
  "root": true,
  "extends": ["next"],
  "settings": {
    "next": {
      "rootDir": "packages/web"
    }
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "ignorePatterns": [
    "dist",
    "node_modules",
    "old",
    "tmp"
  ]
}
