/* CSS HEX */
--rose-madder: #da2c38ff;
--bright-yellow-crayola: #faa916ff;
--bottle-green: #226f54ff;
--space-cadet: #201e50ff;
--steel-pink: #db1cc1ff;

/* CSS HSL */
--rose-madder: hsla(356, 70%, 51%, 1);
--bright-yellow-crayola: hsla(39, 96%, 53%, 1);
--bottle-green: hsla(159, 53%, 28%, 1);
--space-cadet: hsla(242, 45%, 22%, 1);
--steel-pink: hsla(308, 77%, 48%, 1);

/* SCSS HEX */
$rose-madder: #da2c38ff;
$bright-yellow-crayola: #faa916ff;
$bottle-green: #226f54ff;
$space-cadet: #201e50ff;
$steel-pink: #db1cc1ff;

/* SCSS HSL */
$rose-madder: hsla(356, 70%, 51%, 1);
$bright-yellow-crayola: hsla(39, 96%, 53%, 1);
$bottle-green: hsla(159, 53%, 28%, 1);
$space-cadet: hsla(242, 45%, 22%, 1);
$steel-pink: hsla(308, 77%, 48%, 1);

/* SCSS RGB */
$rose-madder: rgba(218, 44, 56, 1);
$bright-yellow-crayola: rgba(250, 169, 22, 1);
$bottle-green: rgba(34, 111, 84, 1);
$space-cadet: rgba(32, 30, 80, 1);
$steel-pink: rgba(219, 28, 193, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #da2c38ff, #faa916ff, #226f54ff, #201e50ff, #db1cc1ff);
$gradient-right: linear-gradient(90deg, #da2c38ff, #faa916ff, #226f54ff, #201e50ff, #db1cc1ff);
$gradient-bottom: linear-gradient(180deg, #da2c38ff, #faa916ff, #226f54ff, #201e50ff, #db1cc1ff);
$gradient-left: linear-gradient(270deg, #da2c38ff, #faa916ff, #226f54ff, #201e50ff, #db1cc1ff);
$gradient-top-right: linear-gradient(45deg, #da2c38ff, #faa916ff, #226f54ff, #201e50ff, #db1cc1ff);
$gradient-bottom-right: linear-gradient(135deg, #da2c38ff, #faa916ff, #226f54ff, #201e50ff, #db1cc1ff);
$gradient-top-left: linear-gradient(225deg, #da2c38ff, #faa916ff, #226f54ff, #201e50ff, #db1cc1ff);
$gradient-bottom-left: linear-gradient(315deg, #da2c38ff, #faa916ff, #226f54ff, #201e50ff, #db1cc1ff);
$gradient-radial: radial-gradient(#da2c38ff, #faa916ff, #226f54ff, #201e50ff, #db1cc1ff);
